.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    text-align: start;
    list-style-type: none;
}

@media screen and (max-width: 1279px) {
    .cards {
        gap: 20px;
    }
}

@media screen and (max-width: 950px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
}