.comments__title {
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78.41px;
    margin: auto;
    max-width: 800px;
}

@media screen and (max-width: 374px) {
    .comments__title {
        font-size: 32px;
        line-height: 35px;
    }
}