.cover__overlay {
    background-image: url(../../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 740px;
    background-position: center; 
    text-decoration: none;
    background-size: cover;
    text-align: center;
}

.cover__overlay::before {
    content: '';
    opacity: 0.3;
    max-width: 1184px;
    max-height: 740px;
    transition: 0.7s;
    background: #2A2C2F;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
}

.cover__overlay:hover::before {
    opacity: 0.8;
    content: '';
}

@media screen and (max-width: 1279px) {
    .cover__overlay {
        min-height: 640px; 
    }
}

@media screen and (max-width: 1023px) {
    .cover__overlay {
        min-height: 480px; 
    }
}

@media screen and (max-width: 767px) {
    .cover__overlay {
       min-height: 300px;
    }
}

@media screen and (max-width: 424px) {
    .cover__overlay {
        min-height: 250px; 
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        min-height: 200px; 
    }
}