.cards__author {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22.03px;
    margin: 0;
    letter-spacing: 0.08em;
}

@media screen and (max-width: 374px) {
    .cards__author {
        line-height: 23.72px;
    }
}