.cards__image {
    border-radius: 100px;
    width: 97px;
    height: 97px;
    margin: 0 auto 42px;
}

@media screen and (max-width: 1023px) {
    .cards__image {
        margin: 0 auto 17px;
    }
}

@media screen and (max-width: 374px) {
    .cards__image {
        width: 96px;
        height: 96px;
    }
}